.idea
models/utils/__pycache__
utils/__pycache__
webscraping2/utils/__pycache__

aops_app/flask-backend/env
aops_app/flask-backend/package/__pycache__


models/saved_models

data/classification/train
data/classification/train_truncated
data/classification/test
data/classification/test_truncated
data/classification/val
data/classification/val_truncated
# data/classification/imo.csv
data/classification/train.csv
data/classification/train_truncated.csv
data/classification/test.csv
data/classification/test_truncated.csv
data/classification/val.csv
data/classification/val_truncated.csv

# aops_app/vuetify-frontend/src/assets/about/about_1.JPG
# aops_app/vuetify-frontend/src/assets/about/about_2.JPG
# aops_app/vuetify-frontend/src/assets/about/about_3.jpg
# aops_app/vuetify-frontend/src/assets/about/about_4.jpg
aops_app/vuetify-frontend/src/assets/about/about_5.jpg
aops_app/vuetify-frontend/src/assets/about/about_6.JPG
aops_app/vuetify-frontend/src/assets/about/about_7.JPG
aops_app/vuetify-frontend/src/assets/about/about_8.JPG
aops_app/vuetify-frontend/src/assets/about/about_9.jpg
aops_app/vuetify-frontend/src/assets/about/about_10.JPG
aops_app/vuetify-frontend/src/assets/about/about_11.jpg
aops_app/vuetify-frontend/src/assets/about/about_12.jpg
aops_app/vuetify-frontend/src/assets/about/about_13.jpg
aops_app/vuetify-frontend/src/assets/about/about_14.jpg
aops_app/vuetify-frontend/src/assets/about/about_15.jpg
aops_app/vuetify-frontend/src/assets/about/about_16.jpg
aops_app/vuetify-frontend/src/assets/about/about_17.jpg
aops_app/vuetify-frontend/src/assets/about/about_18.jpg